.lista-filmes{
    max-width: 800px;
    margin: 14px auto;

}
.loading{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}
.lista-filmes article{
    width: 100%;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 4px;
    
}
.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
   


}
.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}
.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: rgb(0, 110, 255);
    text-decoration: none;
    color: aliceblue;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
